root = true

[*.cs]
dotnet_diagnostic.SA0001.severity = none
dotnet_diagnostic.SA1009.severity = none
dotnet_diagnostic.SA1010.severity = none
dotnet_diagnostic.SA1101.severity = none
dotnet_diagnostic.SA1201.severity = none
dotnet_diagnostic.SA1313.severity = none
dotnet_diagnostic.SA1413.severity = none
dotnet_diagnostic.SA1516.severity = none
dotnet_diagnostic.SA1633.severity = none
dotnet_diagnostic.S1244.severity = none
dotnet_diagnostic.S3260.severity = none
